<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>879046813760-im901hdpgva8m08ku1oil62g2657fpms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879046813760-im901hdpgva8m08ku1oil62g2657fpms</string>
	<key>API_KEY</key>
	<string>AIzaSyAMLEkkzynJLyjyNjKNZpi4ILr3dw0zOn0</string>
	<key>GCM_SENDER_ID</key>
	<string>879046813760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.tjy.Burgers</string>
	<key>PROJECT_ID</key>
	<string>burgers-7f7f1</string>
	<key>STORAGE_BUCKET</key>
	<string>burgers-7f7f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879046813760:ios:33a2aec03a3f8e5a</string>
	<key>DATABASE_URL</key>
	<string>https://burgers-7f7f1.firebaseio.com</string>
</dict>
</plist>